.swiper-pagination-bullet {
  background: #bec0c2 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #22a316 !important;
}
.baner{
  background: url(../assets/baner-1.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.baner2{
  background: url(../assets/baner-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.slide1{
  background: url(../assets/slide-2.jpg) center center / cover no-repeat;
  border-radius: 0.5rem;
}

.slide2{
  background: url(../assets/slide-1.jpg) center center / cover no-repeat;
  border-radius: 0.5rem;
}