.offcanvas {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 490px;
  height: 100%;
  max-width: 100%;
  outline: 0;
  background: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

.cart.offcanvas.offcanvas-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 600px;
  height: 100%;
  background-color: white;
  z-index: 9999;
  transition: transform 0.3s ease-in-out;
}

.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}