.tech-icons img {
  width: 28px;
  height: 28px;
  margin: 0 8px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.tech-icons img:hover {
  transform: scale(1.2);
  filter: brightness(1.5);
}

.tech-icons a {
  text-decoration: none;
  outline: none;
}