.swiper-pagination-bullet {
  background: #bec0c2 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #22a316 !important;
}
.baner{
  background: url(../assets/baner-1.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.baner2{
  background: url(../assets/baner-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}