.perfil{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-color{
    background-color: rgb(10, 173, 10);
}

.btn-color:hover {
    color: white;
    background-color: green;
    border-color: green;
}

.btn-color:disabled {
    opacity: 50%;
    pointer-events: none;
}