@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/effect-fade";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.content-wrapper {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem 0;
}