@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/effect-fade";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


.fontMain{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.text-base{
    font-size: 0.975rem;
}
.small{
    font-size: 0.75rem;
}